* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2')
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2')
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2')
}

body, html {
    min-height: 300px;
    width: 420px;
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: #333;
}

.App {

}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 900;
}

small {
    color: #666666;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

.scroll-bar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(72, 72, 72, 0.51);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}