:root {
    --blue: #1974e8;
    --red: #ff3b3b;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-middle {
    align-items: center;
}

.align-start {
    align-items: flex-start;
    text-align: start;
}

.mar-0 {
    margin: 0;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.fade-appear, .fade-enter {
    opacity: 0.01;
}

.fade-appear-active, .fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.1s linear;
}
