.legend {
    padding: 0 10px;
}

.legend-color {
    width: 13px;
    height: 4px;
    border-radius: 4px;
    margin-right: 5px;
}

.legend-text {
    font-size: 10px;
    line-height: 16px;
    color: #333;
}

#tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 2px;
    transition: all 0.1s linear;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-weight: bold;
}

.tooltip-legend {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 5px;
}

.tooltip-text {
    font-size: 11px;
}

.tooltip-head {
    text-align: left;
    color: #ccc;
}

button.add-more {
    font-size: 0.9rem;
    padding: 5px 10px;
    border: 1px solid rgba(25, 116, 232, 0.4);
    border-radius: 4px;
    color: #1974e8;
    position: fixed;
    top: 28px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

button.add-more:hover {
    border: 1px solid rgba(25, 116, 232, 1);
    box-shadow: 0 0 2px 1px rgba(25, 116, 232, 0.2);
}
