.loader {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader img {
    animation: infinite 1s pulse;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.3);
}

.loader .heading {
    font-size: 1.3rem;
    margin: 20px 0 25px;
}

.loader .loading {
    color: #666;
    font-size: 1rem;
}