.status-bar {
    padding: 10px 24px;
    text-align: center;
    border-top: 1px solid #cccccc4f;
}

.status-bar svg#graph {
    margin-right: 15px;
}

.text {
    transition: color 0.3s ease-in-out;
}

.status-bar:hover svg#graph {
    stroke: #1974e8;
    cursor: pointer;
}

.status-bar:hover .text {
    color: #1974e8;
    cursor: pointer;
}

.status-bar .blue {
    color: #1974e8;
}
.status-bar .arrow {
    font-size: 1.1em;
    margin: 0 5px;
}