.status-list {
    list-style: none;
    padding: 0 24px;
    margin: 0;
    max-height: 345px;
    overflow: scroll;
}

.status-list li,
.status-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px 0;
    padding: 10px 0;
}

.status-list-heading {
    overflow: hidden;
}

.status-list li:not(:first-child) {
    border-top: 1px solid #eeeeee;
}

.status-list .title {
    color: #666;
}

.status-list .orange {
    color: #fc9f00;
}

.status-list .brown {
    color: #a76000;
}

.status-list .red {
    color: #ff3b3b;
}

.status-list .green {
    color: #6dc764;
}

.status-list .heading {
    font-weight: 900;
    background: #f9f8f3;
    padding: 6px 5px;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 4px;
}

.status-list .heading.region {
    text-align: left;
}

.status-list .region .label {
    font-size: 0.9rem;
    color: #333;
}

.status-list .heading.total1 {
    color: #a76000;
}

.status-list .heading.active {
    color: #fc9f00;
}

.status-list .heading.recovered {
    color: #6dc764;
}

.status-list .heading.death {
    color: #ff3b3b;
}

.status-list .active,
.status-list .total1 {
    width: 20.5%;
}

.status-list .recovered,
.status-list .death {
    width: 16%;
}

.status-list .value.active,
.status-list .value.recovered,
.status-list .value.total1,
.status-list .value.death {
    text-align: right;
}

.status-list .value {
    font-size: 0.9rem;
}

.status-list .region {
    width: 25%;
    color: #666666;
}

.status-list .today {
    font-size: 0.85rem;
}

.checkbox {
    opacity: 0;
    transition: all 0.2s ease-in;
    margin-right: 4px;
    margin-left: -18px;
    width: 14px;
    height: 14px;
}

.checkbox.show {
    opacity: 1;
    transition: all 0.2s ease-out;
}
